body {
    background-color: rgb(15, 11, 53);   
}

div#geral {
    background-color: rgb(41, 5, 5);
    height: 550px;
    width: 1100px;
    font-size: 15pt;
    font-weight: bold;
    color: rgb(168, 83, 14);
    display: block;
    padding-top: 50px;
    margin: auto;
    margin-left: 80px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
    position: absolute;
}

p, h3, pre{
    padding-left: 450px;
    padding-top: 10px;
}

input {
    border-bottom: 10px;
    border-color: rgba(151, 25, 8, 0.863);
}

img.normal {
    float: left;
    height: 300px;
    width: 300px;
    padding-top: 100px;
}

img.alta {
    float: left;
    height: 420px;
    width: 300px;
}

h1 {
    border-bottom-style: inset;
    text-align: center;
}

pre {
    font-size: 1.2em;
}

.fonteVerde {
    color: green;
}

.oculta {
    display: none
}

.exibe {
    display: inline
}

.italico {
    font-style: italic;
}

.entreLetras {
    letter-spacing: 5px;
}

.aDireita {
    text-align: right;
}

span {
    margin-left: 150px
}

select {
    width: 150px;
}

.detalhes {
    width: 380px;
}

textarea {
    height: 200px;
    width: 200px;
}